/****** Font size and family ***/
p {
	font-size: 16px;
}

@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin');

p, h1, h2, h3, h4, h5 {
	font-family: 'lato', sans-serif !important;
}

.subtitle {
	color: #4a4d55;
}


/***********************
		Hero Image
***********************/
.img-container {
	background-image: url("hero-3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 700px;
}

.spacer-2 {
	height: 40px;
}
.spacer-1 {
	height: 90px;
}

.spacer {
	height: 20px;
}
/***********************
		Title
***********************/

.the-title {
	color: #de00a5;
}

.font-size-h1 {
	font-size: 46px;
	font-weight: bold;	
}
.font-size-h2 {
	font-size: 36px;
}

/***********************
 Buttons - Color Change
***********************/
.inline {
	display: inline-block;
	list-style-type: none;
}

.location {
	padding: 15px 35px;
	border: 2px solid #de00a5;
	margin-right: -5px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	background-color: #de00a5;
}

.accommodation {
	padding:  15px 35px;
	border: 2px solid #de00a5;
	font-weight: bold;
	color: #de00a5;
}

.flights {
	padding: 15px 35px;
	border: 2px solid #de00a5;
	color:  #de00a5;
	text-decoration: none;
	font-weight: bold;
	margin-left: -5px;
}

.other {
	padding: 15px 35px;
	border: 2px solid #de00a5;
	font-weight: bold;
	color: #de00a5;
	margin-left: -5px;
}

.holiday {
	padding: 15px 35px;
	border: 2px solid #de00a5;
	font-weight: bold;
	color: #de00a5;
	margin-left: -5px;
}

.rsvp {
	padding: 15px 35px;
	border: 2px solid #de00a5;
	color:  #de00a5;
	text-decoration: none;
	font-weight: bold;
	margin-left: -5px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

/******************************
 Buttons - Hide/Display Content
******************************/
.accommodation-box {
	display: none;
}

.travel-box {
	display: none;
}

.holiday-box {
	display: none;
}

.other-box {
	display: none;
}

.rsvp-box {
	display: none;
}

/***********************
		Location
***********************/
.peubla-img {
	background-image: url("peubla.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
}

.cholula-img {
	background-image: url("cholula-pic.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
}


.cholula-2-img {
	background-image: url("venue.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
}

/***********************
		Holiday
***********************/

.holiday-img {
	background-image: url("cancun.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
}

.holiday-img-2 {
	background-image: url("holiday.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
}
/***********************
		Footer
***********************/
.footer {
	height: 80px;
	padding-top: 30px;
	background-color: #ededee;
	font-weight: bold;
	color: #4a4d55;
}

